.logo {
    display: flex;
    align-items: center;

    &__image {
        margin-right: 8px;
    }

    &__text {
        @include Montserrat(22px, 800, #fff);
    }
}

.button {
    display: inline-block;

    text-transform: capitalize;

    @include Montserrat(16px, 600, #fff);

    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(0.95);
    }

    &_outlined {
        border: 1px solid #ffffff;
        border-radius: 59px;
    }

    &_bluefield {
        background: #313ef7;
        box-shadow: 0px 10px 14px rgba(49, 62, 247, 0.25);
        border-radius: 56px;
    }

    &_size_m {
        padding: 16px 40px;
    }

    &_size_l {
        padding: 20px 45px;
    }
}

.heading {
    &_size_l {
        @include Montserrat(40px, 700, #030522);
        line-height: 150%;
    }
}

.ticket {
    display: grid;
    grid-template-areas:
        "header   header"
        "count    count"
        "data     data"
        "spacing  spacing"
        "barcode  barcode";
    grid-template-rows: auto auto auto 85px auto;
    padding: 30px;

    background: url(../images/blank-ticket.svg) no-repeat center/contain;
    border-radius: 30px;

    @include Montserrat(16px, 600, #030522);
    line-height: 150%;

    &__header {
        grid-area: header;
    }

    &__data {
        grid-area: data;
    }

    &__barcode {
        grid-area: barcode;
    }

    &__data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
    }

    &__data-item {
        display: grid;
    }

    &__count {
        grid-area: count;
    }

    &__data-label {
        margin-bottom: 5px;

        @include Montserrat(14px, 500, #9ca3af);
        line-height: 150%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__count {
        margin-bottom: 24px;
    }

    &__class-label {
        display: inline-block;
        padding: 10px;

        @include Montserrat(16px, 500, #313ef7);
        line-height: 20px;

        background: rgba(49, 62, 247, 0.1);
        border-radius: 49px;
    }

    &__fromto {
        display: flex;
        align-items: center;
    }
    &__from {
        margin-right: 8px;
    }
    &__boeing {
        margin-right: 8px;
    }

    &__barcode {
        width: 100%;
    }
}

.rating {
    display: flex;

    &__star {
        display: block;
        width: 14px;
        height: 14px;

        background: url(./../images/icons/star.svg) no-repeat center/contain;
    }
}
