.footer {
    position: relative;

    padding: 100px 0;
    background: url(./../images/map.svg) no-repeat top 20px center/ auto 130%,#010223;

    

    &__inner {
        display: grid;
        grid-template-areas:
            "about     sitemap"
            "contacts  sitemap";
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 40px;

        border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    }

    &__about {
        grid-area: about;

        margin-bottom: 24px;
    }

    &__about-logo {
        margin-bottom: 24px;
    }

    &__about-text {
        max-width: 300px;

        @include Montserrat(16px, 400, #a7a7a7);
        line-height: 150%;
    }

    &__contacts {
        grid-area: contacts;
    }

    &__contacts-list {
        display: flex;
    }

    &__contacts-list-item {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__contact {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;

        background-color: #ffffff;
        box-shadow: 0px 6px 27px rgba(49, 49, 49, 0.17);
        border-radius: 50%;
    }

    &__sitemap {
        grid-area: sitemap;
        justify-self: end;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 700px;
        width: 100%;
        margin-left: 40px;
    }

    &__sitemap-cat {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__sitemap-cat-name {
        margin-bottom: 10px;

        @include Montserrat(24px, 700, #fff);
        line-height: 150%;
    }

    &__sitemap-list {
    }

    &__sitemap-list-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__sitemap-link {
        @include Montserrat(16px, 400, #a7a7a7);
        line-height: 150%;
    }

    &__copyright {
        position: absolute;
        left: 50%;
        bottom: 50px;

        transform: translate(-50%, 50%);

        @include Montserrat(14px, 400, #fff);
        letter-spacing: -2%;
        text-align: center;
        line-height: 150%;
    }

    @media (max-width: 767px) {
        &__inner {
            grid-template-areas:
                "about"
                "contacts"
                "sitemap";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
        }

        &__sitemap {
            justify-self: center;
            margin-top: 40px;
            margin-left: 0;
        }
    }
}
