.header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;

    width: 100%;

    &__inner {
        display: grid;
        align-items: center;
        grid-template-areas: "logo nav btn";
        grid-template-columns: auto 1fr auto;
        padding: 20px 0;
        width: 100%;
        
    }

    &__logo {
        grid-area: logo;
    }
    &__nav {
        grid-area: nav;
    }
    &__button {
        grid-area: btn;
    }

    &__nav {
        margin-right: 50px;
        justify-self: end;
        height: 100%;
    }

    &__nav-list {
        display: flex;
        height: 100%;
    }

    &__nav-list-item {
        display: inline-block;
        height: 100%;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__nav-link {
        display: inline-flex;
        align-items: center;
        height: 100%;

        text-transform: capitalize;

        @include Montserrat(16px, 600, #fff);

        transition: color .2s ease-in-out;

        &:hover {
            color: #313EF7;
        }
    }

    &__nav-link_active {
        position: relative;

        color: #313EF7;

        &::after {
            content: "";

            position: absolute;
            left: 50%;
            bottom: 0;

            transform: translateX(-50%);

            display: block;
            width: 110%;
            height: 2px;

            background-color: #313EF7;
        }
    }

    &__burger {
        position: relative;

        display: none;
        width: 20px;
        height: 20px;

        cursor: pointer;
    }

    &__burger-top, &__burger-middle, &__burger-bottom {
        position: absolute;
        left: 0;

        width: 25px;
        height: 4px;

        background-color: #fff;
        border-radius: 3px;
    }

    &__burger-top {
        top: 0;
    }

    &__burger-middle {
        top: 50%;
        
        transform: translateY(-50%);
    }

    &__burger-bottom {
        bottom: 0;
    }

    @media (max-width: 1024px) {
        &__button {
            display: none;
        }

        &__nav-link {
            font-size: 14px;
        }
    }

    @media (max-width: 767px) {
        &__inner {
            grid-template-areas: "logo burger";
            grid-template-columns: auto 1fr;
        }

        &__burger {
            grid-area: burger;
            justify-self: end;

            display: block;
        }

        &__nav {
            display: none;
        }
    }
}
