.header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;

    width: 100%;

    &__inner {
        display: grid;
        align-items: center;
        grid-template-areas: "logo menu";
        grid-template-columns: auto 1fr;
        padding: 20px 0;
        width: 100%;
    }

    &__logo {
        grid-area: logo;
    }

    &__menu {
        grid-area: menu;
        justify-self: end;

        display: flex;
        align-items: center;
    }

    &__nav {
        margin-right: 50px;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-list-item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__nav-link {
        display: inline-flex;
        align-items: center;
        padding: 15px 0;

        text-transform: capitalize;

        @include Montserrat(16px, 600, #fff);

        transition: color 0.2s ease-in-out;

        &:hover {
            color: #313ef7;
        }
    }

    &__nav-link_active {
        position: relative;

        color: #313ef7;

        &::after {
            content: "";

            position: absolute;
            left: 50%;
            bottom: 0;

            transform: translateX(-50%);

            display: block;
            width: 110%;
            height: 2px;

            background-color: #313ef7;
        }
    }

    &__burger {
        position: relative;

        display: none;
        width: 20px;
        height: 20px;

        cursor: pointer;
    }

    &__burger-top,
    &__burger-middle,
    &__burger-bottom {
        position: absolute;
        left: 0;

        width: 25px;
        height: 4px;

        background-color: #fff;
        border-radius: 3px;
    }

    &__burger-top {
        top: 0;
    }

    &__burger-middle {
        top: 50%;

        transform: translateY(-50%);
    }

    &__burger-bottom {
        bottom: 0;
    }

    @media (max-width: 1024px) {
        &__button {
            display: none;
        }

        &__nav-link {
            font-size: 14px;
        }
    }

    @media (max-width: 767px) {
        &__inner {
            grid-template-areas: "logo burger";
            grid-template-columns: auto 1fr;
        }

        &__burger {
            grid-area: burger;
            justify-self: end;

            display: block;
        }

        &__menu {
            position: fixed;
            left: 0;

            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            background-color: rgba(1, 2, 35, 0.9);
        }

        &__nav {
            height: auto;
            margin-right: 0;
        }

        &__nav-list {
            flex-direction: column;
            align-items: center;
        }

        &__nav-list-item:not(:last-child) {
            margin-right: 0;
        }

        &__nav-link_active {
            &::after {
                display: none;
            }
        }

        &__button {
            display: inline-block;
            margin-top: 30px;
        }

        &__menu_active {
            display: flex;
        }
    }
}
