.hero {
    position: relative;

    min-height: 55vh;

    background: radial-gradient(50% 50% at 50% 50%,
            rgba(18, 20, 78, 0.9) 0%,
            #010223 100%);

    overflow: hidden;

    &__inner {
        padding: 128px 0 260px 0;
    }

    &__heading {
        position: relative;
        z-index: 2;

        margin-bottom: 16px;

        @include Montserrat(48px, 700, #fff);
        line-height: 150%;
        text-align: center;
    }

    &__text {
        @include Inter(12px, 400, rgba(#fff, 0.7));
        text-align: center;
    }

    &__illustration {
        position: relative;
        z-index: 2;
    }

    &__illustration-text {
        position: absolute;
        left: 50%;
        top: 25%;

        width: 90%;

        transform: translateX(-50%);
        z-index: 1;
    }

    &__illustration-jet {
        position: relative;
        z-index: 2;

        width: 100%;
    }

    // &__main {}

    // &__book {}

    &__background {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 100px;

        width: 100%;

        transform: translateX(-50%);
    }

    @media (max-width: 1024px) {
        &__background {
            width: 200%;
        }
    }

    @media (max-width: 425px) {
        &__heading {
            font-size: 42px;
        }
    }

    @media (max-width: 375px) {
        &__heading {
            font-size: 36px;
        }
    }
}

.book {
    &__form {
        position: relative;
        z-index: 4;

        display: grid;
        margin-top: -140px;
    }

    &__form-classes {
        justify-self: start;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        border-bottom: 1px solid #F3F4F6;
        border-radius: 20px 20px 0px 0px;

        overflow: hidden;
    }

    &__form-main {
        display: grid;

        padding: 40px 70px;

        background-color: #fff;
        border-radius: 0px 20px 20px 20px;
    }

    &__form-buttons {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 16px;
    }

    &__form-class {
        display: block;
        padding: 16px 40px;
        text-align: center;

        cursor: pointer;

        background-color: #fff;

        transition: background-color .2s ease-in-out,
            color .2s ease-in-out;

        &:not(:last-child) {
            border-right: 1px solid #F3F4F6;
        }

        &:hover {
            background-color: #313ef7;
        }

        &:hover &-text {
            color: #fff;
        }

    }

    &__form-class-input {
        display: none;
    }

    &__form-class-text {
        @include Montserrat(18px, 600, #030522);
    }

    &__form-button {
        display: grid;
        justify-items: start;
        grid-template-areas: "icon title"
                             "icon desc";
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;

        cursor: pointer;
    }

    &__form-button-icon {
        grid-area: icon;
        align-self: end;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        margin-right: 8px;

        background-color: rgba(49, 62, 247, 0.05);
        border-radius: 50%;
    }

    &__form-button-title {
        grid-area: title;

        @include Montserrat(18px, 600, #030522);
        line-height: 150%;
    }

    &__form-button-desc {
        grid-area: desc;
        align-self: start;

        @include Montserrat(16px, 400, #AEB5BF);
        line-height: 160%;
        white-space: nowrap;
    }

    &__form-submit {
        justify-self: center;

        margin-top: 24px;
    }

    @media (max-width: 1150px) {
        &__buttons {
            justify-content: center;
        }
    }

    @media (max-width: 767px) {
        &__form-classes {
            width: 100%;
            min-width: 1px;
        }

        &__form-main {
            padding: 20px;

            border-radius: 0px 0px 20px 20px;
        }

        &__form-button-desc {
            font-size: 14px;
        }

        &__form-class {
            padding: 16px 20px;
        }
    }

    @media (max-width: 425px) {
        &__form-class-text {
            font-size: 16px;
        }

        &__form-button-title {
            font-size: 16px;
        }
    }

    @media (max-width: 375px) {
        &__form-button-desc {
            font-size: 12px;
        }

        &__form-buttons {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        &__form-class-text {
            font-size: 14px;
        }

        &__form-class {
            padding: 10px;
        }
    }
}

.features {
    margin: 50px 0;

    &__heading {
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin-top: 40px;
    }

    &__list-item:nth-child(even) {
        margin-top: 30px;
    }

    &__card {
        display: grid;
        justify-items: center;
        padding: 28px 21px;

        background-color: #fff;
        box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
        border-radius: 185px;
    }

    &__card-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        width: 70px;
        height: 70px;

        background: rgba(49, 62, 247, 0.05);
        border-radius: 50%;
    }

    &__card-icon-image {
        width: 40px;
        object-fit: contain;
    }

    &__card-title {
        margin-bottom: 10px;

        @include Montserrat(24px, 800, #030522);
        line-height: 150%;
    }

    &__card-text {
        margin-bottom: 32px;
        max-width: 240px;

        @include Montserrat(16px, 400, rgba(3, 5, 34, 0.65));
        line-height: 150%;
        text-align: center;
    }

    &__card-button {
        display: inline-block;
        width: 50px;
        height: 50px;

        background: #030522;
        border-radius: 50%;

        cursor: pointer;
    }

    @media (max-width: 767px) {
        &__list-item:nth-child(even) {
            margin-top: 0;
        }
    }
}

.lets-fly {
    margin: 50px 0;

    &__inner {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
    }

    &__illustration {
        margin-right: 50px;
    }

    &__illustration-image {
        width: 100%;
        max-width: 560px;
    }

    &__main {
        max-width: 590px;
        justify-self: end;
    }

    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        @include Montserrat(20px, 900, #313ef7);
        line-height: 24px;
    }

    &__heading-line {
        display: block;
        width: 100%;
        margin-left: 12px;

        border-top: 2px dashed #caccce;
    }

    &__big-text {
        margin-bottom: 40px;

        @include Montserrat(32px, 700, #030303);
        line-height: 45px;
    }

    &__list {
        margin-bottom: 40px;
    }

    &__list-item {
        position: relative;
        padding-left: 24px;

        &:not(:last-child) {
            margin-bottom: 18px;
        }

        &::before {
            content: "";

            position: absolute;
            left: 0;
            top: 3px;

            width: 10px;
            height: 10px;

            background-color: #313ef7;
            border-radius: 50%;
        }
    }

    &__text {
        max-width: 530px;

        @include Montserrat(16px, 500, #030303);
    }

    @media (max-width: 1024px) {
        position: relative;

        &__inner {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        &__heading-line {
            display: none;
        }

        &__illustration {
            margin-right: 0;
        }

        &__illustration-image {
            width: 100%;
        }

        &__main {
            justify-self: center;

            display: grid;
            justify-items: center;
            margin-top: 40px;
        }

        &__big-text {
            text-align: center;
        }
    }
}

.popular-tickets {
    padding: 50px 0;
    margin: 50px 0;

    background: #010223;

    &__inner {
        display: grid;
        grid-template-areas:
            "heading       slider   controls"
            "text          slider   controls"
            "illustration  slider   controls";
        grid-template-columns: 1fr auto auto;
        column-gap: 50px;
    }

    &__illustration {
        grid-area: illustration;
    }

    &__heading {
        grid-area: heading;

        margin-bottom: 16px;
        max-width: 500px;

        @include Montserrat(40px, 700, #fff);
        line-height: 150%;
        text-transform: capitalize;
    }

    &__text {
        grid-area: text;

        margin-bottom: 24px;
        max-width: 500px;

        @include Montserrat(16px, 400, rgba(255, 255, 255, 0.65));
        line-height: 150%;
    }

    // &__ticket {}

    // &__ticket.swiper-slide {
    //     opacity: 0.1;
    // }

    // &__ticket.swiper-slide-visible {
    //     opacity: 1;
    // }

    &__slider-container {
        grid-area: slider;
        width: 100%;
        max-width: 390px;
        min-width: 1px;
    }

    &__card-slider-next,
    &__card-slider-prev {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        border-radius: 50%;

        cursor: pointer;
    }

    &__card-slider-controls {
        grid-area: controls;

        position: relative;

        display: grid;
        justify-items: center;
        grid-template-areas:
            "pagination"
            "spacing"
            "prev"
            "next";
        grid-template-rows: auto 1fr auto auto;
        margin-left: 40px;
    }

    &__card-slider-pagination-bullet,
    &__card-slider-pagination-bullet-active {
        display: inline-block;
        width: 10px;
        height: 10px;

        border-radius: 50%;

        transition: background-color 0.2s ease-in-out;
    }

    &__card-slider-pagination-bullet {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &__card-slider-pagination-bullet-active {
        background-color: #fff;
    }

    &__card-slider-pagination {
        grid-area: pagination;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    &__dashed-line {
        grid-area: spacing;
        align-self: center;

        width: 0px;
        height: 30%;

        border-right: 2px dashed rgba(255, 255, 255, 0.2);
        ;
    }

    &__card-slider-next {
        grid-area: next;

        background-color: #313ef7;
        box-shadow: 0px 10px 14px rgba(49, 62, 247, 0.25);
    }

    &__card-slider-prev {
        grid-area: prev;

        margin-bottom: 11px;

        background-color: rgba(255, 255, 255, 0.1);
    }

    @media (max-width: 1024px) {
        &__inner {
            grid-template-areas:
                "heading"
                "text"
                "illustration"
                "slider"
                "controls";
            grid-template-columns: 1fr;
            column-gap: 0;
            justify-items: center;
        }

        &__heading,
        &__text {
            text-align: center;
        }

        &__illustration {
            width: 60%;
        }

        &__illustration-image {
            width: 100%;
        }

        // &__card-slider {}

        &__card-slider-controls {
            grid-template-areas: "pagination spacing prev next";
            grid-template-columns: auto 1fr auto auto;
            grid-template-rows: initial;
            align-items: center;
            margin-left: 0;
            margin-top: 32px;
            max-width: 390px;
            width: 100%;
        }

        &__card-slider-pagination {
            flex-direction: row;
        }

        &__dashed-line {
            display: none;
        }

        &__card-slider-prev {
            margin-bottom: 0;
            margin-right: 16px;
        }
    }

    @media (max-width: 375px) {
        &__heading {
            font-size: 32px;
        }
    }
}

.best-travelers {
    margin: 50px 0;

    &__heading {
        text-align: center;
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    // &__list-item {
    //     &:not(:last-child) {
    //         // margin-right: 24px;
    //     }
    // }

    &__card {
        display: grid;
        justify-items: center;
        width: 280px;
        padding: 0 0 40px 0;
        overflow: hidden;

        background: #ffffff;
        box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.05);
        border-radius: 200px;
    }

    &__card-bg {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__card-avatar {
        margin-top: -20px;
        margin-bottom: 8px;
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;

        border-radius: 50%;
    }

    &__card-name {
        margin-bottom: 4px;

        @include Montserrat(24px, 600, #011736);
        line-height: 150%;
    }

    &__card-username {
        @include Montserrat(16px, 600, #aeb5bf);
        line-height: 150%;
    }
}

.feedback {
    margin: 50px 0;

    &__inner {
        display: grid;
        grid-template-areas:
            "description   description"
            "heading       heading"
            "illustration  slider";
        grid-template-columns: 1.3fr 1fr;
        column-gap: 21px;
    }

    &__heading {
        grid-area: heading;
        text-align: center;
        margin-bottom: 60px;
    }

    &__description {
        grid-area: description;
        margin-bottom: 8px;

        @include Montserrat(20px, 600, #313ef7);
        line-height: 24px;
        text-align: center;
    }

    &__illustration {
        grid-area: illustration;

        position: relative;
    }

    &__illustration-image {
        max-width: 680px;
        width: 100%;

        // filter: brightness(95%);
    }

    &__illustration-user {
        position: absolute;
        left: 50%;
        top: 50%;

        max-width: 50px;

        border: 3px solid #fff;
        border-radius: 50%;

        cursor: pointer;
    }

    &__slider {
        grid-area: slider;

        display: grid;
        grid-template-areas:
            "slider  slider"
            "prev    next";
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20px;
        column-gap: 16px;
        row-gap: 32px;

        // max-width: 500px;
        // width: 100%;

        // filter: drop-shadow(0px 100px 200px rgba(1, 23, 54, 0.1));
    }

    &__slider-wrapper {
        grid-area: slider;
        // box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
    }

    &__slider-next,
    &__slider-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;

        border-radius: 50%;

        cursor: pointer;
    }

    &__slider-next {
        grid-area: next;
        justify-self: start;
        background: #313ef7;
        box-shadow: 0px 10px 14px rgba(49, 62, 247, 0.25);
    }

    &__slider-prev {
        grid-area: prev;
        justify-self: end;
        background: rgba(49, 62, 247, 0.1);
    }

    &__card {
        padding: 30px 21px;
        background: #ffffff;
        border-radius: 20px;
        width: 100%;
    }

    &__card-text {
        @include Montserrat(18px, 500, #1b1b1c);
        font-style: italic;
    }

    &__card-user {
        display: grid;
        grid-template-areas:
            "avatar name"
            "avatar rate";
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 16px;
    }

    &__card-user-name {
        grid-area: name;
        align-self: end;

        margin-bottom: 8px;

        @include Montserrat(20px, 600, #011736);
        line-height: 24px;
    }

    &__card-user-avatar {
        grid-area: avatar;

        margin-right: 16px;
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;

        border-radius: 50%;
    }

    &__card-user-rate {
        grid-area: rate;
        align-self: start;
    }

    @media (max-width: 1024px) {
        &__inner {
            justify-items: center;
            grid-template-areas:
                "description"
                "heading"
                "illustration"
                "slider";
            grid-template-columns: 1fr;
        }

        &__slider {
            margin-top: 32px;
        }
    }
}

.make-memories {
    margin: 50px 0;

    &__heading {
        margin-bottom: 40px;

        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    &__list-item {
        &:nth-child(even) {
            margin-top: 50px;
        }
    }

    &__card {
        display: block;
        width: 270px;
        height: 390px;
        overflow: hidden;
        background: var(--bg) no-repeat center/cover border-box;
        border: 10px solid rgba(#fff, 0.3);
        border-radius: 200px;
    }

    @media (max-width: 767px) {
        &__list-item:nth-child(even) {
            margin-top: 0;
        }
    }
}

.subscribe {
    margin: 50px 0;
    padding: 100px 0;

    background-color: rgba(49, 62, 247, 0.05);

    &__inner {
        display: grid;
        justify-content: center;
    }

    &__heading {
        max-width: 530px;
        margin-bottom: 40px;
        text-align: center;
        width: 100%;
    }

    &__form {
        max-width: 570px;
        width: 100%;

        justify-self: center;

        display: flex;
        align-items: center;
        padding: 20px;

        background: #ffffff;
        box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
        border-radius: 150px;
    }

    &__form-input {
        width: 100%;

        margin-left: 10px;

        outline: none;

        @include Rubik(20px, 400, #404041);

        &::placeholder {
            @include Rubik(20px, 400, #aeb5bf);
            line-height: 24px;
        }
    }

    // &__form-submit {}

    @media (max-width: 767px) {
        &__form {
            flex-direction: column;

            background: none;
            box-shadow: none;
            border-radius: 0;
        }

        &__form-input {
            padding: 20px;
            margin-bottom: 16px;

            border-radius: 50px;
            box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);

            font-size: 16px;

            &::placeholder {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 425px) {
        // &__form {}
    }
}