@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input {
    border:none;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #F5F5F5,
}

.wrapper {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

@import url(https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600;700;800;900&family=Rubik&display=swap);

@import "utils", "components", "header", "footer", "home";
