<footer class="footer">
    <div class="footer__container container">
        <div class="footer__inner">
            <div class="footer__about">
                <a href="/" class="footer__about-logo logo">
                    <img src="images/logo.svg" alt="logo" class="logo__image">
                    <h1 class="logo__text">FT Plane</h1>
                </a>
                <p class="footer__about-text">
                    There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered alteration in some form
                </p>
            </div>
            <div class="footer__contacts">
                <ul class="footer__contacts-list">
                    <li class="footer__contacts-list-item">
                        <a href="#" class="footer__contact">
                            <img src="images/icons/facebook.svg" alt="facebook" class="footer__contact-icon">
                        </a>
                    </li>
                    <li class="footer__contacts-list-item">
                        <a href="#" class="footer__contact">
                            <img src="images/icons/linkedin.svg" alt="linked-in" class="footer__contact-icon">
                        </a>
                    </li>
                    <li class="footer__contacts-list-item">
                        <a href="#" class="footer__contact">
                            <img src="images/icons/twitter.svg" alt="twitter" class="footer__contact-icon">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__sitemap">
                <div class="footer__sitemap-cat">
                    <p class="footer__sitemap-cat-name">Address</p>
                    <ul class="footer__sitemap-list">
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Integrations</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Hello</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Intercom</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Customer</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__sitemap-cat">
                    <p class="footer__sitemap-cat-name">About</p>
                    <ul class="footer__sitemap-list">
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Our blog</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Customers</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Our team</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Careers</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Integrations</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__sitemap-cat">
                    <p class="footer__sitemap-cat-name">Support</p>
                    <ul class="footer__sitemap-list">
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Test zoom</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Account</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Support center</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Live training</a>
                        </li>
                        <li class="footer__sitemap-list-item">
                            <a href="#" class="footer__sitemap-link">Accessibility</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer__copyright">
                Copyright © FT&nbsp;PLANE&nbsp;2022 All&nbsp;rights&nbsp;reserved
            </p>
        </div>
    </div>
</footer>