<header class="header js-header">
    <div class="header__container container">
        <div class="header__inner">
            <a href="/" class="header__logo logo">
                <img src="images/logo.svg" alt="logo" class="logo__image">
                <h1 class="logo__text">FT Plane</h1>
            </a>
            <div class="header__menu js-header-menu">
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-list-item">
                            <a href="#" class="header__nav-link header__nav-link_active">All flight</a>
                        </li>
                        <li class="header__nav-list-item">
                            <a href="#" class="header__nav-link">Schedule</a>
                        </li>
                        <li class="header__nav-list-item">
                            <a href="#" class="header__nav-link">Passengers</a>
                        </li>
                        <li class="header__nav-list-item">
                            <a href="#" class="header__nav-link">Your orders</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="header__button button button_size_m button_outlined">Let`s fly</a>
            </div>
            <div class="header__burger js-header-menu-button">
                <div class="header__burger-top"></div>
                <div class="header__burger-middle"></div>
                <div class="header__burger-bottom"></div>
            </div>
        </div>
    </div>
</header>